<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>FUTURE BEAUTY LAB</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- <meta name="x5-page-mode" content="app">
	<meta name="x5-orientation" content="portrait"> -->
	<!--标准mui.css-->
	<link rel="stylesheet" href="__MUI__/css/mui.min.css">
	<!--App自定义的css-->
	<link rel="stylesheet" type="text/css" href="__MUI__/css/app.css"/>

	<link rel="stylesheet" type="text/css" href="__MUI__/css/icons-extra.css" />
	<style type="text/css">
		.mui-table-view-cell:after{
			height: 0;
		}
	</style>
</head>

<body>
<!--          HEAD           -->
<div id="slider" class="mui-slider">
	<div class="mui-slider-group mui-slider-loop">
		<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
		<div class="mui-slider-item mui-slider-item-duplicate">
			<a href="#">
				<img src="__IMG__/banner/5.png">
			</a>
		</div>
		<div class="mui-slider-item">
			<a href="#">
				<img src="__IMG__/banner/1.png">
			</a>
		</div>
		<div class="mui-slider-item">
			<a href="#">
				<img src="__IMG__/banner/2.png">
			</a>
		</div>
		<div class="mui-slider-item">
			<a href="#">
				<img src="__IMG__/banner/3.png">
			</a>
		</div>
		<div class="mui-slider-item">
			<a href="#">
				<img src="__IMG__/banner/4.png">
			</a>
		</div>
		<div class="mui-slider-item">
			<a href="#">
				<img src="__IMG__/banner/1.png">
			</a>
		</div>
		<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
		<div class="mui-slider-item mui-slider-item-duplicate">
			<a href="#">
				<img src="__IMG__/banner/2.png">
			</a>
		</div>
	</div>
	<div class="mui-slider-indicator mui-text-center">
		<div class="mui-indicator mui-active"></div>
		<div class="mui-indicator"></div>
		<div class="mui-indicator"></div>
		<div class="mui-indicator"></div>
		<div class="mui-indicator"></div>
	</div>
</div>
<!--          MAIN          -->
<div style="background-color: #f2f2f2">
	<ul class="mui-table-view" style="background-color: #f2f2f2">
	<volist name="list" id="l">
		<li class="mui-table-view-cell mui-media" style="height: 121pt;background-color: #f2f2f2;">
			<a href="{:U('Course/index')}?cid={$l.id}">
				<div style="background-color: white;height: 109.5pt;width:110%;margin-left: -15px;">
					<img class="mui-media-object mui-pull-left" src="{$l.thumbnail}" style="height: 109.5pt;width: 105pt;margin-left: 15pt;">
					<div class="" style="margin-left: 10pt;">
						<div class="home-title" style="margin-left: 108pt;padding-top: 10pt;width: 224pt;height: 42pt;size: 18pt;color: rgb(17,17,17);letter-spacing: 1pt;font-family: PingFangSC-Medium, sans-serif;">{$l.title}</div>
						<p class='home-text-1' style="margin-top: 7pt;margin-left: 108pt;width: 225pt;height: 39pt;size: 14pt;color: rgb(153,153,153);font-family: PingFangSC-Regular, sans-serif;word-break: normal">{$l.subhead}</p><br/>
					<!-- 	<p class='mui-ellipsis'>{$l.news}</p><br/> -->
						<div class='home-price-1' style="margin-top: -25pt;padding-top: 10pt;margin-left: 108pt;width: 100.8pt;height: 0pt;"><span style="font-size: 15pt;letter-spacing: 0.8pt;color: rgb(64,171,173);font-family: PingFangSC-Semibold, sans-serif;">{$l.price} </span><span style="font-size: 9pt;letter-spacing: 0.8pt;color: rgb(64,171,173);margin-left: -5pt;font-family: PingFangSC-Medium, sans-serif;">元/年</span></div>
					</div>
				</div>
			</a>
		</li>
	</volist>
	</ul>
</div>
<!--         FOOT              -->
<div style="margin-top:100px">
	<nav class="mui-bar mui-bar-tab" style="height: 48pt;">
		<a class="home-a" href="{:U('Subscribe/subscribed')}">
		<img src="__IMG__/ui/order.png" style="width: 38.25pt;margin-top: 3.75pt;">
		</a>
	</nav>
</div>
</body>
<script src="__MUI__/js/mui.min.js"></script>
	<script>
		// mui.init({
		// 	swipeBack:true //启用右滑关闭功能
		// });
		//获得slider插件对象
		var gallery = mui('#slider');
		gallery.slider({
		  interval:5000//自动轮播周期，若为0则不自动播放，默认为0；
		});

	</script>
</html>
