<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$t.title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--标准mui.css-->
	<link rel="stylesheet" href="__MUI__/css/mui.min.css">
	<!--App自定义的css-->
	<link rel="stylesheet" type="text/css" href="__MUI__/css/app.css"/>
</head>
<body>
<!--          HEAD           -->
	<div>
		<img src="{$t.banner}" style="width: 100%;height: 150px">
	</div>
<!--          MAIN           -->
	<div>
		<volist name="list" id="l">
			<ul class="mui-table-view" style="width: 96%;margin-left: 2%">
				<li class="mui-table-view-cell mui-media" style="margin-top: 10px">
					<a href="http://zl.weilaimeixue.com/course/text/?lid={$l.id}">
						<img class="mui-media-object mui-pull-left" src="{$l.l_thumbnail}">
						<div class="mui-media-body">
							<p style="color: black;height: 100px;">
							{$l.l_title}
							</p>
							<p class='mui-ellipsis'>{$l.create_time}</p>
						</div>
					</a>
				</li>
			</ul>
		</volist>
	</div>
</body>
<script src="__MUI__/js/mui.min.js"></script>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});


	</script>
</html>