<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script type="text/javascript" src="__JS__/jquery.js"></script>
	<!--标准mui.css-->
	<link rel="stylesheet" href="__MUI__/css/mui.min.css">
	<!--App自定义的css-->
	<link rel="stylesheet" type="text/css" href="__MUI__/css/app.css"/>
</head>
<style type="text/css">
	body{
		margin: 0pt;
		width: 345pt;
	}
</style>
<body>
	<div>
			
	</div>
</body>
</html>